## Essai sur la tarification non vie et approche causale

Exploration de la base de données

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import os
import matplotlib.pyplot as plt

In [36]:
DATA_PATH = r"C:\Users\KDO\Downloads\Data TP Essfar Tarification automobile"
FILE_Contrat= os.path.join(DATA_PATH, "base_contrat_tpessfar.csv")
FILE_sinistre= os.path.join(DATA_PATH, "base_sinistre_tpessfar.csv")
contrat = pd.read_csv(FILE_Contrat, sep=';', index_col=0, na_values=['NA'], encoding='latin1', nrows=50)
sinistre=pd.read_csv(FILE_sinistre, sep=';', index_col=0, na_values=['NA'], encoding='latin1', nrows=50)

In [39]:
contrat.head(10)

,NSOC,NRIS,CPER,DEBUT,FIN,DNAICDD,DPERCDD,ANCVEH,CFORASU,CGEOMAIF,...,QPORVEH,MVALVEH,DFINFABMOD,CSEXE,CPOS,CEMP,CDOMACT,CPROSOC,SFAM,QENF
5551055,2399420,6,1,01JAN2015,31DEC2015,05JUN1994,30SEP2013,2,3,60159,...,3,13850.0,18AUG2014,2,60350,1,17,8,M,1
10482056,6161071,3,1,01JAN2014,31DEC2014,12DEC1980,08JUL1999,9,5,21166,...,5,24800.0,01JUL2005,1,21220,4,37,7,P,3
1103197,581292,8,1,01JAN2014,31DEC2014,04MAR1936,13MAY1958,2,1,30047,...,5,17850.0,05NOV2012,2,30230,1,1,8,M,0
8142121,3663307,1,1,01JAN2015,31DEC2015,29MAY1987,31AUG2014,14,5,93079,...,5,16145.0,01DEC2000,2,93430,2,7,13,U,0
11611723,6846015,5,1,29NOV2014,31DEC2014,04APR1988,04APR2008,9,2,94077,...,5,19600.0,01JAN2005,1,94290,4,42,13,M,2
7496503,3370763,1,1,01APR2015,31DEC2015,03AUG1978,13DEC1996,14,5,14208,...,3,18294.0,01DEC2004,1,14370,1,3,8,C,0
4073096,1715183,2,1,01JAN2014,02JUL2014,05JUN1950,23SEP1970,12,3,35055,...,5,10300.0,01MAY2003,2,35135,1,0,13,C,0
3496809,1446087,1,1,28OCT2014,31DEC2014,20MAY1938,22MAR1962,0,3,94080,...,5,27500.0,02FEB2015,2,94300,3,13,9,M,0
7283172,3235799,3,1,01JAN2014,31DEC2014,28MAY1954,16OCT1974,12,5,35220,...,5,17150.0,01AUG2002,1,35150,1,17,7,M,0
11151910,6609417,3,1,21JUN2016,31DEC2016,11MAR1943,01MAR1965,0,1,5006,...,5,19650.0,NaN,2,5120,4,40,5,C,0

In [42]:
sinistre.head(10)

,nexeinv,ndos,nsoc,cper,nris,criseve,tsin,dsvc,ssin12,ctb12,rec12,ssinactu,ctbactu,recactu,ssin24,ctb24,rec24,ssin36,ctb36,rec36
526387,2016,120160627139,940350,1,1,20,23,21JUN2016,2.0,2602.12,2392.12,2.0,2602.12,2392.12,NaN,NaN,NaN,NaN,NaN,NaN
1194516,2016,120160780523,2024675,1,4,20,11,08AUG2016,1.0,1334.98,0.00,2.0,1271.90,0.00,NaN,NaN,NaN,NaN,NaN,NaN
475989,2016,120160402114,861098,1,14,20,53,04MAR2016,2.0,0.00,0.00,2.0,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN
2386950,2016,120160278124,3958813,1,1,20,23,17FEB2016,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1649660,2014,120140623342,2785925,1,4,20,30,22JUN2014,NaN,NaN,NaN,2.0,64.49,0.00,NaN,NaN,NaN,2.0,64.49,0.0
936272,2016,120160107956,1564168,1,2,20,23,05JAN2016,2.0,561.06,0.00,2.0,561.06,0.00,NaN,NaN,NaN,NaN,NaN,NaN
1021772,2015,120150121624,1723427,1,6,20,12,09JAN2015,NaN,NaN,NaN,2.0,428.16,428.16,2.0,428.16,428.16,NaN,NaN,NaN
1927910,2016,120160458799,3239083,1,1,20,23,28APR2016,2.0,953.50,0.00,2.0,953.50,0.00,NaN,NaN,NaN,NaN,NaN,NaN
2384432,2016,120160442990,3951085,1,3,20,30,05APR2016,1.0,475.78,0.00,1.0,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN
758311,2015,120150263672,1293441,1,7,20,26,23FEB2015,NaN,NaN,NaN,2.0,0.00,0.00,2.0,0.00,0.00,NaN,NaN,NaN